.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.wrapper > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper label {
  font-size: 1.2em;
}

.wrapper input {
  margin-right: 10px;
}

@media (max-width: 500px) {
  .question {
    font-size: 1.8em;
  }
}